<launch>
	<node pkg="rosbag" type="record" name="robot_bag"
		args="-o /home/nvidia/bags/titan.bag 
		/cmd_vel
		/debug
		/e_stop
		/imu/data
		/imu/data_raw
		/imu/mag
		/imu/rpy/filtered
		/imu/rpy/raw
		/imu/temp
		/initialpose
		/joint_states
		/joy_teleop/cmd_vel
		/joy_teleop/joy
		/key_vel
		/map
		/map_updates
		/motor_status
		/motor_velocity
		/move_base/DWAPlannerROS/global_plan
		/move_base/DWAPlannerROS/local_plan
		/move_base/NavfnROS/plan
		/move_base/current_goal
		/move_base/global_costmap/costmap
		/move_base/global_costmap/costmap_updates
		/move_base/global_costmap/footprint
		/move_base/local_costmap/costmap
		/move_base/local_costmap/costmap_updates
		/move_base/local_costmap/footprint
		/move_base_simple/goal
		/odom
		/particlecloud
		/scan
		/servo1_angle_cmd
		/servo2_angle_cmd
		/servo3_angle_cmd
		/set_pidf_param
		/set_pose
		/tablet_cmd_vel
		/tf
		/tf_static
		/titan_velocity_controller/cmd_vel
		/titan_velocity_controller/odom
		/twist_marker_server/cmd_vel
		/twist_marker_server/feedback
		/twist_marker_server/update
		/twist_marker_server/update_full
		"/>
</launch>
