<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find titan_base)/launch/serial.launch" />
	<include file="$(find titan_base)/launch/laser.launch" />

	<node name="titan_base_node" pkg="titan_base" type="titan_base_node" respawn="false" output="screen"/>

	<include file="$(find titan_control)/launch/titan_control.launch" />	



  
</launch>




