<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="rate"  default="5"/>
	<arg name="decimation"  default="1"/> <!-- Reduce the image size, e.g., 2 means "width/2 x height/2". -->
	<arg name="approx_sync" default="true" />

	<node name="camera_info_relay" type="relay" pkg="topic_tools" args="/camera/data_throttled_camera_info /camera/data_throttled_camera_info_relay" />
	<node name="republish_rgb" type="republish" pkg="image_transport" args="theora in:=/camera/data_throttled_image raw out:=/camera/data_throttled_image_relay" />
	<node name="republish_depth" type="republish" pkg="image_transport" args="compressedDepth in:=/camera/data_throttled_image_depth raw out:=/camera/data_throttled_image_depth_relay" />

	<group ns="camera">
		<node pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap_ros/data_throttle camera_nodelet_manager" output="screen">
			<param name="rate" type="double" value="$(arg rate)"/>
			<param name="decimation" type="int" value="$(arg decimation)"/>
			<param name="approx_sync" type="bool" value="$(arg approx_sync)"/>

			<remap from="rgb/image_in"       to="rgb/image_rect_color"/>
			<remap from="depth/image_in"     to="depth_registered/sw_registered/image_rect_raw"/>
			<remap from="rgb/camera_info_in" to="rgb/camera_info"/>

			<remap from="rgb/image_out"       to="data_throttled_image"/>
			<remap from="depth/image_out"     to="data_throttled_image_depth"/>
			<remap from="rgb/camera_info_out" to="data_throttled_camera_info"/>
		</node>
	</group>      
</launch>
