<?xml version="1.0" encoding="UTF-8"?>



 <param name="robot_description" command="$(find xacro)/xacro '$(find titan_description)/urdf/titan.xacro' --inorder"/>

 <!-- <include file="$(find titan_base)/launch/serial.launch" /> -->

 <!-- <include file="$(find titan_base)/launch/camera.launch" /> -->

  <include file="$(find titan_control)/launch/titan_control.launch" />	

  <!-- load the controllers -->

  <node name="titan_base_node" pkg="titan_base" type="titan_base_node" respawn="false" output="screen"/>

  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find titan_control)/config/localization.yaml" />
    <remap from="odometry/filtered" to="odom"/>
  </node>


  <node name="map_server" pkg="map_server" type="map_server" args="$(find titan_navigation)/map/hallway.yaml"/>


  <include file="$(find titan_navigation)/launch/amcl.launch" />

  <!-- Move base -->
  <include file="$(find titan_navigation)/launch/move_base.launch">
   <remap from="cmd_vel" to="/titan_velocity_controller/cmd_vel"/>

  </include>

  <include file="$(find titan_base)/launch/bag.launch" />
</launch>




