<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find titan_navigation)/map/hallway.yaml"/>

  <include file="$(find titan_navigation)/launch/amcl.launch" />
  <include file="$(find titan_navigation)/launch/move_base.launch" />

</launch>




